.vscode/
.idea/
assignment1/utils/datasets/
assignment1/utils/__pycache__/
assignment1/__pycache__/
tensorflow_toturial/birth_life_2010.txt
tensorflow_toturial/.vscode
tensorflow_toturial/graph
tensorflow_toturial/data
tensorflow_toturial/visualization
tensorflow_toturial/checkpoints